.modal {
  background-color: white;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--dark-purple);
  font-family: var(--game-font);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.img {
  animation: float 2s linear infinite;
}

.copy {
  color: var(--grey);
  font-size: 20px;
  text-align: center;
}

/* ANIMATIONS */
@keyframes float {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
