.backdrop {
  composes: backdrop from "../../../styles/modals.module.css";
}

.modal {
  composes: modal from "../../../styles/modals.module.css";
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--dark-purple);
  font-family: var(--game-font);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.img {
  width: 6rem;
  animation: tilt 2s infinite alternate ease-in-out;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.copy {
  color: var(--grey);
  font-size: large;
}

.highScore {
  font-family: var(--game-font);
  font-size: 2rem;
  line-height: 0;
  color: var(--yellow);
  margin-top: 1rem;
}

/* ANIMATIONS */
@keyframes tilt {
  0% {
    rotate: none;
  }
  50% {
    rotate: -20deg;
  }
  100% {
    rotate: 20deg;
  }
}
