.backdrop {
  composes: backdrop from "../../styles/modals.module.css";
}

.modal {
  composes: modal from "../../styles/modals.module.css";
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--dark-purple);
  font-family: var(--game-font);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.copyText {
  color: var(--grey);
  font-size: 20px;
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 779px) {
  .copyText {
    font-size: 16px;
  }
}

@media (max-width: 499px) {
  .heading {
    font-size: 1.25rem;
  }
}
