.backdrop {
  composes: backdrop from "../../styles/modals.module.css";
}

.modal {
  composes: modal from "../../styles/modals.module.css";
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: black;
  font-family: var(--sans-serif-font);
  text-align: center;
  font-size: 32px;
  line-height: calc(32px * 1.2);
}

.copy {
  margin-top: 0;
  color: var(--grey);
  font-size: 16px;
  line-height: calc(16px * 1.5);
  text-align: center;
}

.buttons {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.button {
  width: 100%;
}
