.modal {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-bottom: 1rem;
  width: max(25%, 240px);
}

.heading {
  color: black;
  font-family: var(--sans-serif-font);
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.copy {
  margin-top: 0;
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.buttons {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.button {
  width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 499px) {
  .copy {
    font-size: 12px;
    line-height: 1.5;
  }
}
