@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Press+Start+2P&display=swap");

:root {
  --purple: #3d308b;
  --dark-purple: #330066;
  --lilac: hsl(242, 100%, 85%);
  --yellow: #f7b801;
  --grey: #666;

  --game-font: "Press Start 2P", system-ui;
}

* {
  font-family: "DM Sans", Arial, Helvetica, sans-serif, system-ui;
}

body {
  background: #3d308b;
  background: linear-gradient(
    160deg,
    rgba(61, 48, 139, 1) 0%,
    rgba(51, 0, 102, 1) 100%
  );
}

#root {
  height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(6%);
}

h1 {
  font-family: var(--game-font);
}

/* MEDIA QUERIES */
@media (max-width: 759px) {
  #root {
    transform: translateY(2%);
  }
}
