.backdrop {
  composes: backdrop from "../EndGameModal.module.css";
}

.modal {
  composes: modal from "../EndGameModal.module.css";
}

.heading {
  composes: heading from "../EndGameModal.module.css";
}

.img {
  animation: float 2s linear infinite;
}

.copy {
  composes: copyText from "../EndGameModal.module.css";
  text-align: center;
}

/* ANIMATIONS */
@keyframes float {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
