.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left {
  flex: 1;
}

.heading,
.subtext {
  font-weight: normal;
  color: var(--yellow);
}

.heading {
  line-height: 0;
  font-size: xx-large;
}

.subtext {
  font-size: medium;
}
