.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: auto;
}

.left {
  transform: translateY(15%);
}

.heading,
.subtext {
  font-weight: normal;
  color: var(--yellow);
}

.heading {
  line-height: 0;
}

.subtext {
  font-size: medium;
}
