.card {
  background-color: var(--lilac);
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  place-items: center;
}

.pokemonImageWrapper {
  width: 80%;
  height: 100%;
}

.pokemonImage {
  width: 100%;
}

.pokemonName {
  font-family: var(--game-font);
  text-transform: uppercase;
  font-size: medium;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
}
