.card {
  background-color: var(--lilac);
  border-radius: 0.5rem;
}

.card:hover {
  filter: brightness(1.05);
  transform: scale(1.03);
  transition:
    filter 0.3s ease-in-out,
    transform 0.15s ease-in;
}

.inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.pokemonImageWrapper {
  width: 50%;
  margin: auto;
}

.pokemonImage {
  width: 100%;
  height: 100%;
}

.pokemonName {
  margin-top: 0;
  font-family: var(--game-font);
  color: var(--purple);
  text-transform: uppercase;
  font-size: 16px;
}
