.card {
  background-color: var(--lilac);
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.card:hover {
  filter: brightness(1.05);
  transform: scale(1.03);
  transition:
    filter 0.3s ease-in-out,
    transform 0.15s ease-in;
}

.pokemonImageWrapper {
  height: 90%;
  width: 75%;
  display: grid;
  place-items: end;
}

.pokemonImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pokemonName {
  font-family: var(--game-font);
  color: var(--purple);
  text-transform: uppercase;
  font-size: medium;
  position: absolute;
  bottom: 0;
  text-align: center;
}
