.scores {
  list-style: none;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.label,
.score {
  font-family: var(--game-font);
  color: var(--yellow);
}

.score {
  justify-self: end;
}
