.section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 909px) {
  .section {
    gap: 0.75rem;
  }
}

@media (max-width: 845px) {
  .section {
    gap: 0.5rem;
  }
}

/* grid collapse */
@media (max-width: 799px) {
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
